body {
  background-color: #fffdfa;
  font-family: "Inter", sans-serif;
  margin: 10%; }

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%; }
  .nav .nav__menu .nav__link {
    margin-left: 25px;
    color: #5d5f79;
    text-decoration: none; }

.layout__toprow {
  display: grid;
  height: 70%;
  grid-auto-columns: 3fr; }
  .layout__toprow .highlights__new {
    background-color: #00001a;
    width: 40%;
    padding: 5%; }
    .layout__toprow .highlights__new .highlights__title {
      font-family: "Inter", sans-serif;
      color: #e9ab53;
      font-weight: 500;
      font-size: x-large; }
    .layout__toprow .highlights__new .highlights__headline {
      color: #fffdfa;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: large; }
    .layout__toprow .highlights__new .highlights__description {
      color: #5d5f79;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: medium; }

main {
  margin: 0;
  display: flex;
  flex-direction: column; }
  main .article__image {
    height: 50%;
    width: auto !important; }
  main .article__main {
    display: flex;
    flex-direction: row;
    gap: 5%; }
    main .article__main .article__headline {
      font-family: "Inter", sans-serif;
      color: #00001a;
      font-weight: 800;
      font-size: xx-large;
      letter-spacing: 0.1px; }
    main .article__main .article__summary {
      font-family: "Inter", sans-serif;
      color: #5d5f79;
      font-weight: 400;
      line-height: 25px; }
      main .article__main .article__summary .article__button {
        background-color: #f15e50;
        font-family: "Inter", sans-serif;
        color: white;
        border: 1px;
        font-size: small;
        padding: 10px 25px 10px 25px;
        letter-spacing: 0.2em;
        text-transform: uppercase; }
