$primary-softorange: hsl(35, 77%, 62%);
$primary-softred: hsl(5, 85%, 63%);
$neutral-offwhite: hsl(36, 100%, 99%);
$neutral-greyblue: hsl(233, 8%, 79%);
$neutral-darkgreyblue: hsl(236, 13%, 42%);
$neutral-darkblue: hsl(240, 100%, 5%);
$font-paragraph: 15px;
$font-Inter: "Inter", sans-serif;

body {
  background-color: $neutral-offwhite;
  font-family: $font-Inter;
  margin: 10%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
  .nav__menu {
    .nav__link {
      margin-left: 25px;
      color: $neutral-darkgreyblue;
      text-decoration: none;
    }
  }
}

.layout__toprow{
  display: grid;
  height:70%;
  grid-auto-columns: 2fr;
}
main {
  margin: 0;
  display: flex;
  
  flex-direction: column;
  .article__image {
    height: 10%;
  }
  .article__main {
    display: flex;
    flex-direction: row;
    gap: 5%;
    .article__headline {
      font-family: $font-Inter;
      color: $neutral-darkblue;
      font-weight: 800;
      font-size: xx-large;
      letter-spacing: 0.1px;
    }
    .article__summary {
      font-family: $font-Inter;
      color: $neutral-darkgreyblue;
      font-weight: 400;
      line-height: 25px;
      .article__button {
        background-color: $primary-softred;
        font-family: $font-Inter;
        color: white;
        // border-radius: 1em;
        border: 1px;
        font-size: small;
        padding: 10px 25px 10px 25px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }
    }
  }
}
