$font-montserrat: 'Monteserrat', sans-serif;
$font-fraunces: 'Fraunces', sans-serif;
$primary-cyan: hsl(158, 36%, 37%);
$primary-cream: hsl(30, 38%, 92%);
$neutral-darkblue: hsl(212, 21%, 14%);
$neutral-darkgrey: hsl(228, 12%, 48%);
$neutral-white: hsl(0, 0%, 100%);

.test {
  font-family: $font-montserrat;
  font-size: 700;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
